.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.login-left {
  width: 35%;
  background-color: #1e2a47;
  display: flex;
  align-items: center;     
  justify-content: center;  
  position: relative;
}

.logo-circle {
  width: 380px;
  height: 380px;
  background-color: #eaf2ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-img {
  width: 65%;
  object-fit: contain;
}

/* Columna Derecha */
.login-right {
  width: 65%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 260px; 
}

.face-icon {
  width: 140px;
  height: auto;
  margin-bottom: 40px;
}


.btn-navy {
  width: 100%;
  padding: 14px 20px;
  background-color: #1e2a47;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-navy:hover {
  background-color: #14203a;
}

.question-text {
  margin: 30px 0 15px 0;
  color: #333333;
  font-size: 0.95rem;
}